* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border-radius {
    border-radius: 50px !important;
}

.yellow {
    background-color: #a8ff35 !important;
}

.gap {
    column-gap: 20px;
}

p {
    font-size: 14px;
}

.btn-width {
    width: 100%;
    height: 40px;
}

.btn-border-radius {
    border-radius: 10px;
}

.left-width {
    width: 120px;
    height: 80px;
}

.solution-width {
    width: 38%;
}

span {
    color: #adadad;
}

.icon-width {
    width: 50%;
    height: 80px;
}

.i-width {
    width: 7%;
    height: 4%;
}

.line1 {
    width: 52%;
}

.line2 {
    width: 52%;
}

.switch-style {
    width: 70px;
    height: 30px;
}

.gaps {
    gap: 10px;
}

.num-style {
    font-size: 15px;
}

.gapss {
    column-gap: 70px;
}

.sawyer-style {
    width: 78%;
    height: 80%;
    padding-left: 228px;
}

.trial-col {
    background-color: #a8ff35;
}

.font-size {
    font-size: 15px;
}

.designs {
    position: relative;
}

.a-style {
    width: 20%;
    height: 60%;
    position: absolute;
}

.b-style {
    width: 33%;
    height: 10%;
    padding-top: 60px;
    padding-left: 180px;
    position: relative;
}

.c-style {
    width: 20%;
    height: 55%;
    padding-left: -350px;
    position: absolute;
}

.d-style {
    width: 35%;
    height: 15%;
    padding-top: 60px;
    padding-left: 220px;

}

/* phone responsiveness */
@media screen and (max-width: 425px) {
    .left-width {
        display: none;
    }

    .column-1 {
        flex-direction: column;
        margin: 0 20px;
    }

    .row-1 {
        padding-top: 20px;
    }

    .gapss {
        gap: 25px;
    }

    .box-1 {
        margin: 0 20px;
    }

    .icon-width {
        width: 47%;
        height: 80px;
    }

    .a-style {
        width: 70%;
        height: 15%;
    }
    
    .b-style {
        width: 70%;
        height: 15%;
    }
    
    .c-style {
        width: 70%;
        height: 15%;
    }
    
    .d-style {
        width: 70%;
        height: 15%;
    }

    .designs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sawyer-style {
        width: 110%;
        height: 200%;
        padding: 0;
    }

    .box-2 {
        padding: 0 30px 0 0;
        width: 96%;
    }
    
    .box-1 {
        width: 98%;
    }

    .box-3 {
        width: 98%;
    }

    .phn-nav {
        display: none;
    }

    .box-musk {
        display: none;
    }

    .group-1 {
        padding-left: 170px;
        position: absolute;
        z-index: 10;
        padding-bottom: 155px;
    }

    .group-2 {
        padding-right: 180px;
        position: absolute;
        z-index: 10;
        padding-top: 170px;
    }

    .elon {
        position: relative;
    }

    .sol {
        padding-top: 50px;
    }
}









